header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('medicine.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    overflow-x: hidden;
    color: white;
    font-family: 'Flamenco', cursive;
}
.clearfix::after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
.row{
    max-width: 1180px;
    margin: 0 auto;
}
.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;

}
.main-nav{
    float: right;
    margin-top: 60px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;


}

.main-nav li a{
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100;

}



.main-nav li a:hover{
    border-bottom: 2px solid #bf55ec;


}
.main-content-header{
    width: 1180px;
    position: absolute;
      
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    color: whitesmoke;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: lighter;

}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s,border 0.2s, color 0.2;
}
.btn-full{
    background-color: transparent;
    color: #ec5555;
    margin-right: 15px;
    border: 1px solid #bf55ec;
}
.btn-full:hover{
    background-color:black;
}
.btn-nav{
    background-color: transparent;
    color: #fff;
    border: 1px solid black;

} 
.btn-nav:hover{
    color: tomato;
}
.colorchange{
    animation: colorchangealvi 1s infinite;
}
@keyframes colorchangealvi{
    0%{color: red;}
    25%{color: #bf55ec;}
    50%{color: white;}
    100%{color: purple;}
}


.mobile-icon{display: none;}









@media only screen and (max-width:1180px)
{
    .main-content-header{
        width: 100%;
        padding: 0 2%;
    }

}
@media only screen and (max-width: 998px)
{
    h1{font-size: 200%;}
}
@media only screen and (max-width: 768px)
{
    h1{font-size: 180%;}



    .main-nav{display: none;}



    .mobile-icon{display: inline-block;
    color: #fff;
    float:right;
    margin-top:30px ;
    margin-right: 20px;
    }
    .main-nav{float: left;}
    .main-nav li{
        
        display: block;
        margin-top: 10px;
    }


}

@media only screen and (max-width:480p){
    .btn-full{
        margin-bottom: 20px;
    }
    h1{font-size: 160%;}
}


h2{
    color: black;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
    padding: 10px 10px;
    text-transform: uppercase;
    box-sizing: 2px solid purple;
    

}
p{
    color:purple;
    text-align: center;
}
.delivery-section{
    background-image: url('gohomepharmacy.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}


.check-section{
    background-image: url('check.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}


.signup-section{
    background-image: url('signup.jpg') ;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

}
.clicktoorder{
    background-image: url('clickorder.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.showmore-section{
    background-image: url('more.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.order-section{
    background-image: url('order.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}


/*how to order section       */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:black;
    color: purple;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #fff;
    color:purple;
  }
  
  .container {
    border-radius: 5px;
    background-color:purple;
    padding: 20px;
  }
  .order-section h2:hover{
      color: tomato;
      background-color: teal;
  }


/* sign up section  */

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for all buttons */
  button {
      
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }

  .check-section p{

    color: black;
  }
  .signup-section h2{
      color: blue;
  }


  /*    click order   */

  .icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  
  .content {
    margin-left: 75px;
    font-size: 30px;
  }


  /* Slideshow container */
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }



/*  slide show */

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*      */


.showmore-section h2{
  color: #bb0000;
}
.showmore-section h2:hover{
  color: #000;
}

.text{
  color: black;
  font-size: large;
}
.clicktoorder h1{
  text-align: center;
  color: #000;
}
  